<!DOCTYPE html>
<html>

<head>

    

{% block head %}
    <title>Daniela Firma Paz</title>
{% endblock %}

<link rel="stylesheet" href="/styles.css">
   

</head>

<body>
    <header>
        <div class="links">
            <a href="/">Sobre mi</a>
            <a href="/musica" rel="nonopener noreferrer">Música</a>
        </div>
    </header>
   
    {% block content %}

    {% endblock %}

</body>

</html>